pyrogram==1.4.16
tgcrypto
youtube-search
git+https://github.com/AMAN-GUJJAR/yt-dl@master
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
